/.vscode
/1.CPP
/a.exe
/app1.cpp
/app2.cpp
/app2.exe
/app3.cpp
/app3.exe
/bank1.txt
/fun1.cpp
/shop1.cpp
/tempCodeRunnerFile.cpp
/tut1.cpp
/tut1.exe
/tut1.js
/tut10.cpp
/tut10.exe
/tut11.cpp
/tut11.exe
/tut12.cpp
/tut13.cpp
/tut13.exe
/tut14.cpp
/tut14.exe
/tut15.cpp
/tut15.exe
/tut16.cpp
/tut16.exe
/tut17.cpp
/tut17.exe
/tut18.cpp
/tut19.cpp
/tut2.cpp
/tut20.cpp
/tut21.cpp
/tut21.exe
/tut22.cpp
/tut22.exe
/tut23.cpp
/tut24pointer.cpp
/tut25pointer2.cpp
/tut26thispointer.cpp
/tut27.txt
/tut27file.cpp
/tut27file.exe
/tut28tempplate.cpp
/tut29template with multiple parameter.cpp
/tut3.cpp
/tut3.exe
/tut30defaulttemplate.cpp
/tut30defaulttemplate.exe
/tut31.cpp
/tut4.cpp
/tut4.exe
/tut5.cpp
/tut5.exe
/tut6.cpp
/tut6.exe
/tut7.cpp
/tut7.exe
/tut8.cpp
/tut9.cpp